@use "sass:map";
@use "../global" as *;

.anime-shutter {
  overflow: hidden;
  position: relative;
  opacity: 0;

  &.is-shutter-open {
    animation: shutter-opacity 2s 0s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    &::before {
      animation: shutter-translate 2s 0s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
  }
  &::before {
    // animation: shutter-translate 2s 5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    background: #fff;
    content: "";
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }
}
@keyframes shutter-opacity {
  100% {
    opacity: 1;
  }
}
@keyframes shutter-translate {
  100% {
    transform: translateX(100%);
  }
}
