@use "../global" as *;

// .p-works {
//   hgroup {
//     position: relative;
//   }
//   .around-circle {
//     // position: relative;
//     position: absolute;
//     top: 0;
//     right: calc(50% + 140px);
//     @include mq(sp) {
//       right: calc(50% + 100px);
//     }
//   }
// }
.p-works__contents {
  // bulletの配置分多めにpaddingとる
  padding: 5% 5% 8%;
  position: relative;
}
.p-works__explanation {
  margin-top: 1.5rem;
  font-size: size-calc-clamp(12, 24, 375, 1440);

  p + p {
    margin-top: 1rem;
  }
}
